spring:
  application:
    name: # Settes i nais/<cluster>.json
  flyway:
    enabled: true
  jpa:
    show-sql: true
    hibernate:
      ddl-auto: validate
    properties:
      # https://docs.jboss.org/hibernate/orm/4.3/devguide/en-US/html/ch15.html#envers-configuration
      org.hibernate.envers:
        audit_strategy: org.hibernate.envers.strategy.ValidityAuditStrategy
        audit_strategy_validity_store_revend_timestamp: true
        store_data_at_delete: true
        audit_table_suffix: _historikk

  datasource:
    hikari:
      connection-test-query: SELECT 1
      maximum-pool-size: 10
      connection-timeout: 30000
      data-source-properties:
        logServerErrorDetail: false
        reWriteBatchedInserts: true
    url: ${DB_JDBC_URL}
    username: ${DB_USERNAME}
    password: ${DB_PASSWORD}
    driver-class-name: org.postgresql.Driver

  rest:
    retry:
      multiplier: 2
      initialDelay: 1000
      maxDelay: 4000
      maxAttempts: 3

  kafka:
    bootstrap-servers: ${KAFKA_BROKERS}
    consumer:
      group-id: ${SPRING_APPLICATION_NAME}
      auto-offset-reset: earliest
      isolation-level: read_committed
      enable-auto-commit: false
    producer:
      client-id: ${HOSTNAME}
      retries: 3

topic:
  producer:
    # topic.producer.min-side-varsel
    min-side-varsel:
      navn: min-side.aapen-brukervarsel-v1
    min-side-mikrofrontend:
      navn: min-side.aapen-microfrontend-v1
  # Bryter betegner av/på funksjon for kafkalytter. True (på), False (av).
  listener:
    # topic.listener.ung-soknad
    ung-soknad:
      id: ungdomsytelsesoknad-listener
      navn: dusseldorf.ungdomsytelse-soknad-cleanup
      bryter: true
      auto-offset-reset: earliest
    # topic.listener.ung-oppgavebekreftelse
    ung-oppgavebekreftelse:
      id: ungdomsytelseOppgavebekreftelse-listener
      navn: dusseldorf.ungdomsytelse-oppgavebekreftelse-cleanup
      bryter: true
      auto-offset-reset: earliest
    # topic.listener.ung-rapportert-inntekt
    ung-rapportert-inntekt:
      id: ungdomsytelseRapportertInntekt-listener
      navn: dusseldorf.ungdomsytelse-inntektsrapportering-cleanup
      bryter: true
      auto-offset-reset: earliest
    # topic.listener.ung-oppgavebekreftelse
    ung-vedtakhendelse:
      id: ungdomsytelseVedtak-listener
      navn: k9saksbehandling.ung-vedtakhendelse
      bryter: true
      auto-offset-reset: earliest
management:
  endpoint:
    health:
      show-details: always
  endpoints:
    web:
      base-path: /
      exposure:
        include: health, prometheus
      path-mapping:
        prometheus: /metrics

no.nav:
  audit:
    vendor: ung
    product: ung-deltakelse-opplyser
  security:
    jwt:
      issuer:
        tokenx:
          discoveryUrl: ${TOKEN_X_WELL_KNOWN_URL}
          accepted_audience: ${TOKEN_X_CLIENT_ID}
        azure:
          discoveryUrl: ${AZURE_APP_WELL_KNOWN_URL}
          accepted_audience: ${AZURE_APP_CLIENT_ID}
      client:
        registration:
          azure-ung-sak:
            token-endpoint-url: ${AZURE_OPENID_CONFIG_TOKEN_ENDPOINT}
            grant-type: client_credentials
            scope: ${UNG_SAK_AZURE_SCOPE}
            authentication:
              client-auth-method: private_key_jwt
              client-id: ${AZURE_APP_CLIENT_ID}
              client-jwk: ${AZURE_APP_JWK}

          azure-sif-abac-pdp:
            token-endpoint-url: ${AZURE_OPENID_CONFIG_TOKEN_ENDPOINT}
            grant-type: urn:ietf:params:oauth:grant-type:jwt-bearer
            scope: ${SIF_ABAC_PDP_AZURE_SCOPE}
            authentication:
              client-auth-method: private_key_jwt
              client-id: ${AZURE_APP_CLIENT_ID}
              client-jwk: ${AZURE_APP_JWK}

          azure-pdl-api:
            token-endpoint-url: ${AZURE_OPENID_CONFIG_TOKEN_ENDPOINT}
            grant-type: client_credentials
            scope: ${PDL_API_AZURE_SCOPE}
            authentication:
              client-auth-method: private_key_jwt
              client-id: ${AZURE_APP_CLIENT_ID}
              client-jwk: ${AZURE_APP_JWK}

          tokenx-sokos-kontoregister-person:
            token-endpoint-url: ${TOKEN_X_TOKEN_ENDPOINT}
            grant-type: urn:ietf:params:oauth:grant-type:token-exchange
            authentication:
              client-auth-method: private_key_jwt
              client-id: ${TOKEN_X_CLIENT_ID}
              client-jwk: ${TOKEN_X_PRIVATE_JWK}
            token-exchange:
              audience: ${SOKOS_KONTOREGISTER_PERSON_AUDIENCE}

          azure-nom-api:
            token-endpoint-url: ${AZURE_OPENID_CONFIG_TOKEN_ENDPOINT}
            grant-type: client_credentials
            scope: ${NOM_API_AZURE_SCOPE}
            authentication:
              client-auth-method: private_key_jwt
              client-id: ${AZURE_APP_CLIENT_ID}
              client-jwk: ${AZURE_APP_JWK}

  gateways:
    ung-sak: # Settes i nais/<cluster>.json
    pdl-api-base-url: # Settes i nais/<cluster>.json
    sokos-kontoregister-person-base-url: # Settes i nais/<cluster>.json
    enhetsregister-base-url: # Settes i nais/<cluster>.json
    nom-api-base-url: # Settes i nais/<cluster>.json

springdoc:
  api-docs:
    enabled: ${SWAGGER_ENABLED:false}
  swagger-ui:
    enabled: ${SWAGGER_ENABLED:false}
    disable-swagger-default-url: true
    path: swagger-ui.html
    oauth:
      use-pkce-with-authorization-code-grant: true
      client-id: ${AZURE_APP_CLIENT_ID}
      scope-separator: ","
  oAuthFlow:
    authorizationUrl: ${AZURE_LOGIN_URL:http://localhost:8080}/authorize
    tokenUrl: ${AZURE_LOGIN_URL:http://localhost:8080}/token
    apiScope: api://${AZURE_APP_CLIENT_ID:abc123}/.default
